<cdk-virtual-scroll-viewport
  #scroller
  [itemSize]="300">
  <mat-grid-list cols="4" rowHeight="300px" gutterSize="40px">
    <mat-grid-tile
      *ngFor="let photo of images">
      <mat-card class="my-card" fxFill>
        <mat-card-title>{{photo?.author}}</mat-card-title>
        <mat-card-content class="my-card-content">
          <div
            class="gallery-item"
            [ngStyle]="{'background-image': 'url(' + photo.download_url + ')'}"
            (click)="imgDetails(photo)"></div>
        </mat-card-content>
        <mat-card-footer>
          <button mat-button>Download</button>
        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
    <mat-grid-tile *ngIf="!errorMsg; else isError"></mat-grid-tile>
      <ng-template #isError>
        <div class="error">{{ errorMsg }}</div>
      </ng-template>

</cdk-virtual-scroll-viewport>
