<div class="container">
  <div *ngIf="loading" class="loadingCenter">
    <mat-progress-spinner></mat-progress-spinner>
  </div>

  <mat-card class="my-card" fxFill *ngIf="!loading">
    <mat-card-title>
      <div class="title-container">
        {{photoDetail?.author}}
        <div>
          <button *ngIf="isDownLoad" class="btn-bg" mat-flat-button (click)="downloadImage(photoDetail)">Download</button>
          <button class="btn-bg" [routerLink]="['/gallery']">Back</button>
        </div>
      </div>
    </mat-card-title>
    <mat-card-content class="my-card-content">
      <img src="{{photoDetail?.download_url}}" class="imageSize" id="img-id"
           (load)='onLoad($event)'>
    </mat-card-content>
  </mat-card>
</div>
